.top-level-container-posters {
  margin: 20px;
}

.posters-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.poster {
  width: 300px;
  aspect-ratio: 30 / 45;
}

.posters-wrapper {
  position: relative;
}

.posters-wrapper > .poster-content {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: medium;
  color: white;
  background: rgba(0, 0, 0, 0.6);
}

.posters-wrapper > .poster-content.poster-fade {
  opacity: 0;
}

.posters-wrapper:hover > .poster-content.poster-fade {
  opacity: 1;
}

.posters-wrapper > img,
.posters-wrapper > .poster-content {
  transition: 200ms ease-in-out;
}

@media (max-width: 500px) {
  .poster {
    width: 100px;
  }
}

@media (max-height: 500px) {
  .poster {
    width: 100px;
  }
}
